<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Subthreads list</title>
</head>
<body>
    <ul>
        <% subthreads.forEach(subthread => { %>
            <li>
                <strong><%= subthread.title %></strong><strong><%= subthread.content %></strong>    
                <form action="/subthreads/subthread/<%= subthread._id %>" method="GET">
                    <button type="submit">See more</button>  
                </form>
                <form action="/subthreads/subthread/<%= subthread._id %>" method="POST">
                    <button type="submit">Delete</button>  
                </form>
            </li>
        <% }) %>
    </ul>
    <form action="/subthreads/:threadId/admin" method="GET">
        <button type="submit">Zarządzaj</button>  
    </form>
    <form action="/subthreads/<%= parentId %>" method="POST">
            <inline>Add title for your new subThread! <input type="text" name="title" required>
            <inline>Add content for your new subThread! <input type="text" name="content" required>
            <button type="submit">Add thread</button>        
    </form>
</body>
</html>