<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Użytkownik znaleziony</title>
</head>
<body>
    <a href="/users">Powrót do strony głównej</a>
    <% if (isAdmin) { %>
    <h1>Użytkownik znaleziony: <%= id%></h1>
    <div>Login: <%= login %></div>
    <div>Email: <%= email %></div>
    <div>Administrator?: <%= isUserAdmin %></div>
    <form action="/users/patch/<%= id %>" method="POST">
        <inline>Zmień login: <input type="text" name="login"></inline>
        <button type="submit">Wyślij</button>
    </form>
    <form action="/users/patch/<%= id %>" method="POST">
        <inline>Zmień email: <input type="text" name="email"></inline>
        <button type="submit">Wyślij</button>
    </form>
    <% } else { %>
        <div>Brak dostępu</div>
    <% } %>
    <% if (!isUserAdmin) { %><form action='/users/delete/<%= id %>' method="POST"><button type="submit">Usuń</button></form><% } %>
</body>
</html>